@model UserProfile

<h1>Account Created</h1>

<p>Welcome to the reward points club! Thank you for registering an account with us, @Model.FirstName!</p>

<button onclick="location.href='https://localhost:7147/home/index'">@("Return")</button>