
<h1>Welcome</h1>
<p>Thank you for visiting The Grand Circus Coffee Shop. click the button below to create an account with us and start earning reward points!</p>

<button onclick="location.href='https://localhost:7147/home/registration'">@("Create Account")</button>
